/* Responsive: mobile landscape (max-width 767px) */

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  blockquote {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-input {
    height: 100%;
    font-size: 16px;
  }

  .button-primary {
    font-size: 18px;
  }

  .hero-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .inner-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .heading-h4 {
    font-size: 24px;
  }

  .heading-h2 {
    font-size: 36px;
  }

  .heading-h5 {
    font-size: 22px;
  }

  .text-lead {
    font-size: 20px;
  }

  .style-guide-section {
    padding-top: 40px;
  }

  .rich-text ul,
  .rich-text p,
  .rich-text figure,
  .rich-text blockquote,
  .rich-text ol {
    margin-bottom: 20px;
  }

  .heading-h1 {
    font-size: 54px;
  }

  .heading-h3 {
    font-size: 30px;
  }

  .input-group {
    font-size: 16px;
  }

  .container-medium {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-subscribe {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .grid-footer-menu {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .footer-item.left {
    width: 100%;
  }

  .footer-wrap {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1.75fr;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .subscribe-title {
    width: 100%;
  }

  .link-in-bio-wrap {
    padding: 0;
  }

  .link-in-bio-item {
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
  }

  .link-in-bio-button-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .subscribe-form {
    max-width: 100%;
  }

  .utility-page-wrap {
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .coming-soon-icon {
    height: 120px;
  }

  .utility-page-coming-soon {
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
  }

  .nav-menu {
    margin-left: 20px;
    margin-right: 20px;
  }

  .grid-nav {
    grid-template-columns: 0.5fr 1fr;
  }

  .utility-page-content {
    padding: 40px;
  }

  .inner-container-small {
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo {
    height: 64px;
    margin-top: -12px;
    margin-bottom: -12px;
  }

  .section-spacing-sm-top {
    margin-top: 30px;
  }

  .error-title {
    font-size: 80px;
  }

  .footer-subscribe-form {
    max-width: 100%;
  }

  .footer-divider {
    margin-top: 30px;
  }

  .hero-section {
    padding-bottom: 50px;
  }

  .grid-hero {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: var(--color--primary-1);
    grid-template-columns: 1fr;
  }

  .hero-description {
    margin-bottom: 0;
  }

  .hero-image-wrap {
    left: 0;
  }

  .hero-image {
    height: 100%;
  }

  .grid-hero-image {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .hero-decoration-one {
    height: 30px;
  }

  .hero-list-item {
    font-size: 14px;
  }

  .grid-about {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .about-content {
    margin-bottom: 20px;
  }

  .about-phone-detail {
    margin-top: 20px;
  }

  .grid-about-content {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .service-section-title {
    width: 60%;
    font-size: 24px;
  }

  .service-mask {
    width: 100%;
  }

  .left-arrow {
    width: 40px;
    height: 40px;
    top: -80px;
    right: 40px;
  }

  .right-arrow {
    width: 40px;
    height: 40px;
    top: -80px;
  }

  .service-icon {
    height: 50px;
  }

  .service-description {
    margin-bottom: 20px;
  }

  .service-decoration {
    width: 30px;
    height: 30px;
  }

  .location-item-wrap {
    padding: 15px;
  }

  .map-title {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .map-title.one {
    top: 18%;
  }

  .dot-icon {
    width: 5px;
    height: 5px;
  }

  .dot-icon-wrap {
    width: 15px;
    height: 15px;
  }

  .dot-icon-wrap.one {
    top: 252px;
    left: 393px;
  }

  .location-title {
    margin-bottom: 20px;
  }

  .location-contact-wrap {
    margin-top: 20px;
  }

  .play-pause-button {
    width: 60px;
    height: 60px;
  }

  .grid-testimonial-item {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .testimonial-title {
    margin-top: 0;
  }

  .testimonial-right-arrow {
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: 50px;
  }

  .testimonial-left-arrow {
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: 20px;
  }

  .testimonial-content {
    padding: 0 20px 70px;
  }

  .testimonial-decoration {
    height: 30px;
    display: none;
    inset: auto 0% 0% auto;
  }

  .client-title {
    text-align: left;
    margin-left: 0;
  }

  .client-item-wrap {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .grid-cta-item {
    grid-template-columns: 1fr;
  }

  .cta-item {
    padding: 40px;
  }

  .cta-decoration {
    display: none;
  }

  .grid-blog {
    grid-template-columns: 1fr;
  }

  .grid-split-hero {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .split-hero-decoration {
    height: 30px;
  }

  .split-hero-title {
    font-size: 44px;
  }

  .split-hero-content-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .award-item-wrap {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .award-decoration {
    height: 30px;
  }

  .grid-service-section-title {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    place-items: start;
    margin-bottom: 30px;
  }

  .grid-simple-service,
  .feature-item-wrap {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .team-image-wrap {
    margin-bottom: 5px;
  }

  .state-counter-item {
    padding-left: 20px;
  }

  .state-counter-number {
    margin-bottom: 30px;
  }

  .state-counter-titles {
    font-size: 20px;
  }

  .contact-detail {
    padding: 30px;
  }

  .location-link.w--current,
  .location-link.one.w--current {
    border-width: 3px;
  }

  .location-link.four.w--current {
    border-width: 3px;
    border-color: var(--color--gray-1);
  }

  .gallery-marquee-section {
    margin-bottom: 60px;
  }

  .gallery-marquee-list {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .gallery-decoration {
    height: 50px;
  }

  .grid-about-hero {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .about-hero-title {
    margin-bottom: 20px;
  }

  .about-hero-content-wrap {
    padding: 30px;
  }

  .about-tabs-menu {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .about-tab-link {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
  }

  .about-tabs-content {
    margin-top: 20px;
  }

  .about-tab-title {
    font-size: 18px;
  }

  .about-tab-icon {
    height: 20px;
  }

  .grid-slider-years {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .slider-years,
  .slider-years-mask {
    width: 100%;
  }

  .slider-years-slide {
    margin-right: 30px;
  }

  .slider-years-item {
    margin-bottom: 50px;
  }

  .years-item {
    margin-right: 0;
  }

  .grid-split-feature-item {
    grid-template-columns: 1fr;
  }

  .client-marquee-list {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .client-images {
    height: 26px;
  }

  .team-link {
    font-size: 18px;
  }

  .grid-cta-counter {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .grid-teams {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .team-decoration-one {
    height: 30px;
  }

  .grid-blog-item {
    grid-template-columns: 1fr;
  }

  .pagination {
    grid-template-columns: 1fr auto 1fr;
    margin-top: 30px;
  }

  .grid-simple-project {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .simple-project-decoration {
    width: 50px;
    height: 50px;
  }

  .grid-service-detail-hero {
    grid-template-columns: 1fr;
  }

  .service-detail-decoration {
    display: none;
  }

  .service-detail-title {
    font-size: 40px;
  }

  .service-detail-section {
    margin-top: 50px;
  }

  .service-detail-content-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .grid-service-content {
    grid-template-columns: 1fr;
  }

  .service-overview-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .grid-achievements {
    grid-template-columns: 1fr 1fr;
    place-items: start;
  }

  .project-detail-image {
    width: 100%;
    height: 100%;
  }

  .grid-blog-detail {
    grid-template-columns: 1fr;
  }

  .blog-detail-title {
    margin-bottom: 20px;
  }

  .grid-contact-details {
    grid-template-columns: 1fr;
    padding-right: 0;
  }

  .contact-decoration {
    height: 50px;
  }

  .contact-form-wrap {
    padding-right: 30px;
  }

  .contact-form {
    width: 100%;
  }

  .input-group-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
  }

  .grid-office-details {
    grid-template-columns: 1fr;
  }

  .office-detail {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
  }

  .grid-team-detail {
    grid-template-columns: 1fr;
  }

  .team-detail-item {
    position: static;
  }

  .team-detail-decoration {
    display: none;
  }

  .team-detail-info {
    margin-bottom: 0;
  }

  .team-detail {
    margin-bottom: 15px;
  }

  .team-detail-name {
    font-size: 22px;
  }

  .team-detail-description,
  .team-detail-title,
  .team-name {
    margin-bottom: 15px;
  }

  .accordion-title {
    font-size: 20px;
  }

  .grid-pricing {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .pricing-item {
    padding: 20px;
  }

  .benefit-icon {
    margin-bottom: 0;
  }

  .benefit-item-wrap {
    grid-template-columns: 1fr;
  }

  .benefit-divider {
    margin-bottom: 20px;
  }

  .grid-split-faqs {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .split-faqs-image-wrap {
    position: static;
  }

  .project-detail-hero-title {
    font-size: 42px;
  }

  .project-detail-description {
    width: 100%;
  }

  .grid-project-detail {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .project-meta-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .project-detail-wrap {
    margin-bottom: 50px;
  }

  .project-detail {
    margin-top: 50px;
  }

  .grid-our-clients {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .project-mask,
  .what-we-do-description {
    width: 100%;
  }

  .grid-service {
    grid-template-columns: 1fr;
  }

  .grid-service-counter {
    padding: 40px;
  }

  .service-counter-decoration {
    width: 50px;
    height: 50px;
  }

  .grid-split-service {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .split-service-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .split-service-decoration-one {
    width: 30px;
    height: 30px;
  }

  .grid-service-benefits {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .cta-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    padding: 20px;
  }

  .cta-titles {
    width: 100%;
  }

  .project-item {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .project-image {
    height: 100%;
  }

  .static-project-image {
    width: 100%;
    height: 100%;
  }

  .static-project-image-wrap {
    position: static;
  }

  .play-icon,
  .pause-icon {
    height: 20px;
  }

  .project-slide-title {
    font-size: 24px;
  }

  .team-title {
    font-size: 22px;
  }

  .simple-project-decorations {
    width: 50px;
    height: 50px;
  }

  .map-titles {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 1em;
    top: 43px;
    left: 222px;
  }

  .grid-client {
    grid-template-columns: 1fr;
  }

  .contact-tabs-content {
    width: 100%;
  }

  .grid-service-hero,
  .service-content-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .service-hero-decoration {
    height: 30px;
  }

  .grid-service-one,
  .grid-simple-testimonial {
    grid-template-columns: 1fr;
  }

  .simple-testimonial-item {
    padding: 20px;
  }

  .action-box-item {
    padding: 30px;
  }

  .nav-menu-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }

  .state-counters-title {
    font-size: 54px;
  }

  .hero-cross-shape {
    width: 100%;
    left: -40px;
  }
}
