/* Responsive: mobile portrait (max-width 479px) */

@media screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
  }

  .form-input,
  .form-input.form-textarea {
    height: 100%;
  }

  .button-primary {
    padding: 10px 30px;
    font-size: 16px;
  }

  .button-primary.mobile-hide {
    display: none;
  }

  .hero-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .heading-h4 {
    font-size: 22px;
  }

  .heading-h2 {
    font-size: 34px;
  }

  .heading-h5 {
    font-size: 18px;
  }

  .form-select {
    height: 100%;
  }

  .heading-h6 {
    font-size: 16px;
  }

  .style-guide-section {
    padding-top: 30px;
  }

  .heading-h1 {
    font-size: 40px;
  }

  .heading-h3 {
    font-size: 28px;
  }

  .no-margin {
    margin-bottom: 10px;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .container-medium {
    padding-left: 15px;
    padding-right: 15px;
  }

  .style-guide-wrapper {
    margin-bottom: 50px;
  }

  .footer-box {
    padding-right: 15px;
  }

  .form-subscribe {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .grid-footer-menu {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  .footer-links {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .link-in-bio-content {
    font-size: 16px;
  }

  .link-in-bio-item {
    padding: 20px;
  }

  .link-in-bio-button-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .link-in-bio-title {
    font-size: 36px;
  }

  .link-in-bio-icon-wrap {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }

  .link-in-bio-image {
    height: 50px;
  }

  .container-small {
    padding-left: 15px;
    padding-right: 15px;
  }

  .privacy-wrap {
    padding: 20px;
  }

  .coming-soon-title {
    font-size: 30px;
  }

  .coming-soon-icon {
    height: 100px;
    margin-bottom: 10px;
  }

  .coming-soon-social {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .nav-menu {
    margin-left: 15px;
    margin-right: 15px;
  }

  .grid-nav {
    grid-template-columns: 1.25fr 1fr;
  }

  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .utility-page-content {
    padding: 20px;
  }

  .error-description {
    margin-bottom: 20px;
  }

  .section-spacing {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-spacing-top {
    padding-top: 60px;
  }

  .section-spacing-bottom {
    padding-bottom: 60px;
  }

  .logo {
    height: 30px;
  }

  .navbar-light {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .button-white.mobile-hide {
    display: none;
  }

  .footer-detail-wrap {
    margin-bottom: 50px;
  }

  .footer-social-inline-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hero-section {
    margin-top: -76px;
    padding-top: 90px;
  }

  .grid-hero {
    grid-template-columns: 1fr;
  }

  .hero-decoration-one {
    bottom: -2px;
    left: -2px;
  }

  .hero-list-wrapper {
    margin-bottom: 20px;
  }

  .about-decoration {
    height: 30px;
  }

  .about-year {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .about-decoration-one {
    bottom: -2px;
    left: -2px;
  }

  .service-section-title {
    font-size: 25px;
  }

  .left-arrow {
    width: 35px;
    height: 35px;
    top: -100px;
  }

  .right-arrow {
    width: 35px;
    height: 35px;
    top: -100px;
    right: 6px;
  }

  .map-title {
    display: none;
  }

  .map-title.three {
    bottom: 22%;
  }

  .map-title-wrap {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }

  .map-number {
    font-size: 60px;
  }

  .location-title {
    margin-bottom: 20px;
  }

  .location-contact-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    margin-top: 20px;
  }

  .counter-item-wrap {
    grid-template-columns: 1fr;
  }

  .play-pause-button {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .background-decoration {
    height: 30px;
  }

  .grid-testimonial-item {
    grid-template-columns: 1fr;
  }

  .star-image {
    height: 20px;
    margin-bottom: 20px;
  }

  .testimonial-right-arrow {
    left: 60px;
  }

  .testimonial-left-arrow {
    left: 30px;
  }

  .client-item-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .cta-item {
    padding: 15px;
  }

  .cta-title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .blog-info {
    padding: 15px;
  }

  .arrow-link-wrap {
    width: 35px;
    height: 35px;
  }

  .blog-section-title {
    margin-bottom: 20px;
  }

  .grid-split-hero {
    margin-left: 15px;
    margin-right: 15px;
  }

  .split-hero-title {
    font-size: 36px;
  }

  .grid-service-section-title {
    margin-bottom: 20px;
  }

  .grid-simple-service {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .simple-service-item {
    padding: 20px;
  }

  .grid-feature {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .feature-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .feature-number {
    font-size: 20px;
  }

  .state-item-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .state-counter-title {
    justify-content: space-between;
    width: 100%;
  }

  .state-counter-item-wrap {
    flex-flow: column;
  }

  .grid-team-item {
    grid-template-columns: 1fr;
  }

  .state-counter-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .grid-state-counter {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .state-counter-titles {
    margin-bottom: 0;
  }

  .contact-detail {
    padding: 20px;
  }

  .gallery-marquee-list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .gallery-image {
    width: 200px;
    height: 100%;
  }

  .gallery-decoration {
    height: 30px;
  }

  .about-hero-content-wrap {
    padding: 20px;
  }

  .about-tabs-menu {
    border-bottom-width: 0;
    flex-flow: column;
  }

  .about-tab-link {
    padding-bottom: 10px;
  }

  .about-tabs-content {
    margin-top: 20px;
  }

  .about-tabs-decoration {
    display: none;
  }

  .slider-years {
    width: 100%;
  }

  .slider-years-mask {
    width: 100%;
    height: 100%;
  }

  .slider-years-item {
    margin-bottom: 15px;
  }

  .years-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .years-decoration {
    display: none;
  }

  .grid-split-feature {
    padding: 15px;
  }

  .split-feature-decoration {
    height: 30px;
  }

  .split-feature-icon-wrap {
    width: 50px;
    height: 50px;
  }

  .split-feature-icon {
    height: 24px;
  }

  .client-marquee-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .client-marquee-list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .grid-team {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .team-link {
    font-size: 16px;
  }

  .grid-cta-counter,
  .grid-teams {
    grid-template-columns: 1fr;
  }

  .grid-blog-item {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .pagination {
    grid-template-columns: 1fr;
  }

  .simple-project-decoration {
    width: 30px;
    height: 30px;
  }

  .service-detail-content {
    padding: 15px;
  }

  .service-detail-title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .service-detail-section {
    margin-top: 30px;
  }

  .service-overview-decoration {
    height: 30px;
  }

  .grid-achievements {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    place-items: start;
  }

  .achievements-number {
    margin-bottom: 5px;
  }

  .contact-hero-section {
    padding-top: 30px;
  }

  .contact-section-title {
    margin-bottom: 20px;
  }

  .grid-blog-detail {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
  }

  .blog-detail-title {
    font-size: 26px;
  }

  .blog-detail-decoration {
    height: 30px;
  }

  .contact-detail-wrapper {
    padding: 20px;
  }

  .contact-form-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .team-detail-item {
    padding: 20px;
  }

  .team-detail {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .team-detail-name {
    font-size: 20px;
  }

  .accordion-title {
    padding-right: 20px;
    font-size: 20px;
  }

  .pricing-price {
    font-size: 30px;
  }

  .pricing-decoration {
    width: 30px;
    height: 30px;
  }

  .pricing-list {
    margin-bottom: 30px;
  }

  .project-detail-hero-title {
    font-size: 36px;
  }

  .project-detail-wrap {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .grid-our-clients {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .our-clients-item {
    height: 150px;
  }

  .client-logo {
    height: 40px;
  }

  .project-slide {
    margin-bottom: 50px;
  }

  .project-left-arrow,
  .project-right-arrow {
    bottom: 0;
  }

  .project-slide-item-wrap {
    margin-bottom: 10px;
  }

  .what-we-do-hero-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .grid-service-counter {
    grid-template-columns: 2fr;
    place-items: start;
    margin-top: 40px;
    padding: 30px;
  }

  .counter-image-wrap {
    flex-flow: column;
  }

  .grid-split-service {
    padding: 20px;
  }

  .split-service-decoration-one {
    display: none;
  }

  .cta-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    margin-top: 30px;
    padding: 20px;
  }

  .cta-titles {
    width: 100%;
  }

  .about-counter {
    display: none;
  }

  .project-title-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .project-slide-title {
    font-size: 22px;
  }

  .team-title {
    font-size: 24px;
  }

  .slider-title {
    font-size: 20px;
  }

  .simple-project-decorations {
    width: 30px;
    height: 30px;
  }

  .map-titles {
    font-size: 12px;
    top: 110px;
  }

  .client-action-box {
    flex-flow: column;
  }

  .action-box-title {
    margin-bottom: 10px;
  }

  .contact-tabs-menu {
    margin-top: 20px;
    display: flex;
  }

  .grid-service-hero {
    margin-left: 15px;
    margin-right: 15px;
  }

  .service-hero-content {
    margin-top: 20px;
  }

  .simple-testimonial-title {
    margin-bottom: 20px;
  }

  .simple-testimonial-decoration {
    width: 20px;
    height: 20px;
  }

  .action-box-item {
    padding: 20px;
  }

  .nav-menu-wrapper {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .state-counters-title {
    font-size: 40px;
  }

  .arrow-link-icon {
    height: 20px;
  }

  .hero-cross-shape {
    width: 120%;
  }
}
