/* Design tokens (CSS custom properties) */

:root {
  --color--gray-2: #f2f5fb;
  --font-family--body: Poppins, sans-serif;
  --color--body: var(--color--gray-1);
  --font-family--heading: Chakrapetch, sans-serif;
  --color--heading: var(--color--black);
  --color--primary-1: #1d3960;
  --color--white: white;
  --color--gray-1: #566375;
  --color--transparent: #0000;
  --color--black: #1d2635;
}
